/* .footer {
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 2rem 2rem 4rem;
  margin-top: 2rem;
  border-top: 0.5rem solid var(--color-tertiary);
  display: flex;
  flex-direction: column;
}

.footer__copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--footer-copyright-color);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  text-align: center;
} */

/* .footer {
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 2rem 2rem 1.5rem;
  margin-top: 2rem;
  border-top: 0.5rem solid var(--color-tertiary);
  display: flex;
  flex-direction: column;
}

.footer__copyright {.footer__copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--footer-copyright-color);  color: var(--footer-copyright-color);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  text-align: center;
} */

.footer {
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 2rem 2rem 0 !important;
  margin-top: 0;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-top: 0.5rem solid var(--color-tertiary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.footer:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}


.footer .container:last-child {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.footer .trademarks:last-child {
  margin-bottom: 1rem !important;
  padding-bottom: 1rem !important;
}

.footer .container {
  margin-bottom: 0 !important;
  padding-bottom: 1rem !important;
}

.footer .row {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.footer .trademarks {
  margin-bottom: 1rem !important;
  padding-bottom: 1rem !important;
}

.footer__copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--footer-copyright-color);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

