.publishedDate {
  font-size: 0.85rem;
  line-height: 1.4;
  font-weight: 500;
  font-family: var(--font-family-main);
  color: #6b7280;
  display: block;
  margin-top: 1rem;
}

[data-theme='dark'] .publishedDate {
  color: #9ca3af;
}
